In [2]:
import pandas as pd # pandas를 import 합니다. pd로 줄여 사용할 수 있습니다.

In [3]:
df = pd.read_csv('data\\villagers.csv') # csv파일을 읽어옵니다.               #csv: comma로 구분된 파일
df # 주피터 노트북에서는 셀의 마지막 줄을 출력할 수 있습니다.

      이름 성별       생일   종류       성격 일어나는 시각 잠드는 시각    자금  가구 수
0     럭키  남  11월 04일    개       먹보    8:00  23:00  5575     2
1     로빈  남  05월 13일    개       먹보    8:00  23:00  2703     5
2      존  남  11월 01일    개      무뚝뚝    9:00   3:30  9850     1
3     토미  남  08월 04일    개       먹보    8:00  23:00  3665     2
4      벤  남  06월 10일    개       먹보    8:00  23:00  6994     3
..   ... ..      ...  ...      ...     ...    ...   ...   ...
408  고메스  남  08월 26일  호랑이  무뚝뚝/운동광     NaN    NaN  7733     8
409   범호  남  05월 15일  호랑이      운동광    6:30   0:30  6865     2
410   루주  여  08월 27일  호랑이      아이돌    7:30   1:30  1658     9
411   백희  여  12월 13일  호랑이      아이돌    7:30   1:30  5056     9
412   신디  여  11월 22일  호랑이      성숙함    8:30   2:30  3784     8

[413 rows x 9 columns]

In [4]:
print(df.head()) # Dataframe의 상위 5개를 보여줍니다.
print(df.tail(10)) # 하위 10개를 보여줍니다. 원하는 숫자를 넣어 출력갯수를 조정할 수 있습니다.

   이름 성별       생일 종류   성격 일어나는 시각 잠드는 시각    자금  가구 수
0  럭키  남  11월 04일  개   먹보    8:00  23:00  5575     2
1  로빈  남  05월 13일  개   먹보    8:00  23:00  2703     5
2   존  남  11월 01일  개  무뚝뚝    9:00   3:30  9850     1
3  토미  남  08월 04일  개   먹보    8:00  23:00  3665     2
4   벤  남  06월 10일  개   먹보    8:00  23:00  6994     3
      이름 성별       생일   종류       성격 일어나는 시각 잠드는 시각    자금  가구 수
403  뽀야미  여  01월 30일  햄스터      친절함    6:00   0:00  9506     5
404   샨티  여  08월 09일  햄스터      성숙함    8:30   2:30  6812     1
405   애플  여  09월 24일  햄스터      아이돌    7:30   1:30  7390    10
406  호랭이  남  08월 22일  호랑이      무뚝뚝    9:00   3:30  8000     2
407  티볼트  남  08월 19일  호랑이      운동광    6:30   0:30  1361     1
408  고메스  남  08월 26일  호랑이  무뚝뚝/운동광     NaN    NaN  7733     8
409   범호  남  05월 15일  호랑이      운동광    6:30   0:30  6865     2
410   루주  여  08월 27일  호랑이      아이돌    7:30   1:30  1658     9
411   백희  여  12월 13일  호랑이      아이돌    7:30   1:30  5056     9
412   신디  여  11월 22일  호랑이      성숙함    8:30   2:30  3784     8

In [5]:
print(type(df)) # 자료형을 확인할 수 있습니다.

# 표 형식의 자료형은 pandas에서 Dataframe이라고 부릅니다.

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(df.shape) # 행과 열의 갯수를 알려줍니다. 413마리의 주민이 있습니다.

(413, 9)

In [7]:
print(df.columns) # Dataframe의 최상단 즉, 속성을 알려줍니다.

Index(['이름', '성별', '생일', '종류', '성격', '일어나는 시각', '잠드는 시각', '자금', '가구 수'], dtype='object')

In [8]:
print(df.dtypes) # 속성들의 자료형을 표시해줍니다. object는 pandas의 문자열입니다.
print()
print(df.info()) # info() 함수로도 확인할 수 있습니다.

이름         object
성별         object
생일         object
종류         object
성격         object
일어나는 시각    object
잠드는 시각     object
자금          int64
가구 수        int64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       413 non-null    object
 1   성별       413 non-null    object
 2   생일       413 non-null    object
 3   종류       413 non-null    object
 4   성격       413 non-null    object
 5   일어나는 시각  395 non-null    object
 6   잠드는 시각   395 non-null    object
 7   자금       413 non-null    int64
 8   가구 수     413 non-null    int64
dtypes: int64(2), object(7)
memory usage: 29.2+ KB
None

In [9]:
# 주민의 생일만 알고 싶다면 []안에 열 이름(생일)을 전달하면 됩니다.
# 참고로 dataframe의 열 한개니까 이것의 자료형은 series입니다.
# 파이썬의 list 사용 방법과 굉장히 유사합니다.

birthday = df['생일'] # birthday는 series가 됨 (열 1개)
print(type(birthday))
birthday.head()

<class 'pandas.core.series.Series'>

0    11월 04일
1    05월 13일
2    11월 01일
3    08월 04일
4    06월 10일
Name: 생일, dtype: object

In [10]:
# 이름, 생일을 동시에 알고 싶다면 리스트로 묶어 다중선택도 가능합니다.
# 열이 2개 이상이니 series가 아닌 dataframe이다

df[['이름', '생일']].head()

   이름       생일
0  럭키  11월 04일
1  로빈  05월 13일
2   존  11월 01일
3  토미  08월 04일
4   벤  06월 10일

In [11]:
# 왼쪽에 0부터 숫자가 표시되어 있는 것은 index 번호입니다.
# 순서대로 번호가 매겨져 있는거라고 생각하면 편합니다.
# loc 속성은 안에 인덱스 번호를 넣으면 그 행만 뽑아줍니다.

df.loc[405] # 405번은 인기주민 애플입니다. 애플이의 정보만 표시됩니다.

이름              애플
성별               여
생일         09월 24일
종류             햄스터
성격             아이돌
일어나는 시각       7:30
잠드는 시각        1:30
자금            7390
가구 수            10
Name: 405, dtype: object

In [12]:
# 리스트로 묶어서 넣어준다면 여러개도 OK
df.loc[[61, 122, 405]] # 인기 주민인 잭슨, 쭈니, 애플

     이름 성별       생일   종류   성격 일어나는 시각 잠드는 시각    자금  가구 수
61   잭슨  남  10월 01일  고양이  느끼함    7:00   2:00  1967     1
122  쭈니  남  09월 29일  다람쥐  느끼함    7:00   2:00  9546     8
405  애플  여  09월 24일  햄스터  아이돌    7:30   1:30  7390    10

In [13]:
# loc은 index 번호를 기준으로 추출했습니다
# iloc은 index 번호가 아닌 실제 데이터프레임의 행 순서가 기준이입니다.
# 지금은 인덱스와 행 번호가 동일하기 때문에 동일한 결과값이 출력됩니다.

df.iloc[0]

이름              럭키
성별               남
생일         11월 04일
종류               개
성격              먹보
일어나는 시각       8:00
잠드는 시각       23:00
자금            5575
가구 수             2
Name: 0, dtype: object

In [14]:
# 다만 차이가 있다면 음수를 넣을 수 있습니다.
# -1은 마지막 행을 출력해줍니다. list와 유사합니다.

df.iloc[-1]

이름              신디
성별               여
생일         11월 22일
종류             호랑이
성격             성숙함
일어나는 시각       8:30
잠드는 시각        2:30
자금            3784
가구 수             8
Name: 412, dtype: object

In [15]:
df.groupby('성별')['자금'].mean() # 성별 별로 묶어서 자금의 평균을 구합니다.

성별
(없음)    3756.857143
남       5931.971014
여       5198.633166
Name: 자금, dtype: float64

In [16]:
df.groupby(['성별', '성격'])[['자금', '가구 수']].mean() # 여러개도 리스트로 묶어서 전달하면 OK

                        자금       가구 수
성별   성격
(없음) 느끼함       2661.000000   1.000000
     먹보        5149.000000   7.000000
     무뚝뚝       2958.000000  10.000000
     운동광       3217.333333   9.000000
     운동광/느끼함   5878.000000   2.000000
남    느끼함       6352.586207   5.758621
     먹보        5779.774194   5.258065
     먹보/느끼함    5214.666667   7.000000
     먹보/무뚝뚝    7246.000000   3.000000
     무뚝뚝       5640.754717   4.943396
     무뚝뚝/느끼함   7427.000000   4.000000
     무뚝뚝/운동광   7733.000000   8.000000
     운동광       6055.566038   5.754717
     운동광/느끼함   9436.000000  10.000000
     운동광/무뚝뚝   3283.000000   2.000000
여    단순활발      6156.350000   5.700000
     성숙함       4697.964286   5.553571
     성숙함/단순활발  3937.000000   1.000000
     아이돌       4868.603774   4.924528
     아이돌/단순활발  6131.333333   6.333333
     아이돌/성숙함   9543.000000   2.000000
     친절함       5497.396825   5.873016
     친절함/단순활발  8132.000000   4.000000

In [17]:
print(df['자금'].min()) # 최소값
print(df['자금'].max()) # 최대값
print(df['자금'].sum()) # 합계
print(df['자금'].mean()) # 평균
print(df['자금'].var()) # 분산
print(df['자금'].std()) # 표준편차
print(df['자금'].count()) # 갯수세기
print(df['자금'].median()) # 중앙값
print(df['자금'].mode()) # 최빈값

1071
9995
2288744
5541.753026634383
7199180.264098827
2683.128819885252
413
5534.0
0    6419
Name: 자금, dtype: int64